.notFound{
    margin-top : 160px;
    color : var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    p{
        font-size: 18px;
        margin-bottom: 182px;
        @media screen and (min-width : 767px){ 
        font-size: 2.125rem;
        }
    }

    a{
        color : var(--main-color);
        text-decoration: none;  
    }

    h1{

        font-size: 6rem;
        
        margin-bottom: 70px;
        font-weight: 700;
        @media screen and (min-width : 767px){ 
            font-size: 18rem;
        }
    }
}