.rootHeader{
    margin-bottom : 16px;
   

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        ul{
            display : flex;
            align-items: center;           
            
            li{
                margin-left: 10px;  
                font-size: 0.75rem;
                font-weight:500;
            
                &:hover{
                    border-bottom: 1px solid var(--main-color);
                    
                }
                @media screen and(min-width: 767px) {
                    font-size: 1.5rem;
                    margin-left: 57px;   
                } 
            }

            a{
                color : var(--main-color);               
                text-decoration: none;  
                height: 24px;                
            }
        }
    }

    .logo{
        img{
            height: 47px;
            display: flex;
        }
    }
}

